* {
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0 auto;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ff5f6d 0%, #ffb270 100%) repeat scroll 0 0;
}

.navbar .container-fluid {
    width: 60%;
}

#navbarSupportedContent {
    justify-content: flex-end;
    flex-grow: 0;
}

#navbarSupportedContent .navbar-nav .nav-item .nav-link {
    padding-right: 20px;
    color: white;
    transition: 0.3s background-color;
}

#nav .nav-item {
    transition: 0.3s background-color;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

#nav .nav-item :hover a {
    color: #999999;
}

#nav button {
    color: #fff;
    border-color: #fff;
    transition: 0.3s background-color;
    padding: 5px 40px;
}

#nav button:hover {
    background-color: #ff5f6d;
    border-color: #ff5f6d;
}

.anh {
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: end;
    background: url(https://template.hasthemes.com/moto/moto/img/slider/9.webp);
}

.anh img {
    height: 100%;
}

.moto-all {
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 40%;
    height: 50%;
    right: 13%;
}

.moto-all h1 {
    color: white;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.moto-all p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0 0 35px;
    padding-right: 35%;
}

.moto-all .d-flex button {
    background: #ff5f6d;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 50px;
    text-decoration: none;
    border-color: #ff5f6d;
    transition: 0.3s background-color boder-color;
}

.moto-all .d-flex :hover button {
    background-color: #dc3545;
    border-color: #dc3545;
}


/* .img {
z-index: 1;
height: 100%;
} */

.easy {
    margin: 0 auto;
    width: 100%;
    background: #FAF9FF;
}

.easy .container {
    margin: 0 auto;
    width: 60%;
    background-color: #FAF9FF;
}

.easy .container .col-4 {
    float: left;
    padding: 110px 25px 105px;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.easy .container .col-4:hover {
    box-shadow: 1px 1px 3px 3px #dee2e6;
    background-color: #FAF9FF;
    transform: translateY(-8px);
}

.easy .container .col-4 img {
    float: left;
    margin-right: 20px;
    margin-top: 40px;
}

.easy .container .custom {
    margin-left: 70px;
}

.easy .container .custom h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

.easy .container .custom p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px;
}

.about {
    margin: 0 auto;
    width: 60%;
}

.about .container .row .col h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 35px;
}

.about .container .row .col p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.about .container .row .col img {
    width: 100%;
    height: 100%;
}

.about .btn {
    background-color: #ff5f6d;
    padding: 10px 40px;
    border: #ff5f6d;
    color: #fff;
}

#a {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 40px;
    text-decoration: none;
    margin-top: 25px;
    transition: 0.1s background-color;
    border-radius: 4px;
}

#a :hover {
    background: #ff5f6d;
    box-shadow: 0 0 20px 0 rgb(255 95 109 / 40%);
}

.best {
    text-align: center;
    background-color: #FAF9FF;
    width: 100%;
    height: 100%;
}

#best {
    margin: 0 auto;
    padding: 130px 0 60px 0;
    width: 60%;
}

.best .best1 {
    padding-bottom: 55px;
    margin: 0 auto;
    width: 48%;
}

.best .best1 h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 24px;
}

.best .best1 p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

.best .container .row .col-4 i {
    font-size: 24px;
    border: 1px solid #dc3545;
    border-radius: 50%;
    height: 58px;
    width: 58px;
    line-height: 54px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: black;
}

.best .container .row .col-4 {
    transition: 0.3s background-color;
}

.best .container .row .col-4 h3 {
    font-size: 20px;
    margin-top: 20px;
    color: #3e3e3e;
    font-family: 'Open Sans', sans-serif;
}

.best .container .row .col-4 p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 50px;
}

.best .container .row .col-4 a {
    text-decoration: none;
}

.best .container .row .col-4 a div {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 40px 0 35px;
}

.best .container .row .col-4 :hover {
    background-color: #ff5f6d;
}

.best .container .row .col-4 :hover i {
    color: #FAF9FF;
}

.best .container .row .col-4 :hover p {
    color: #FAF9FF;
}

.best .container .row .col-4 :hover h3 {
    color: #FAF9FF;
}

.how {
    background: url(https://template.hasthemes.com/moto/moto/img/bg/1.webp);
    width: 100%;
    max-height: 100%;
}

.how #con1 {
    width: 60%;
}

#con1 img {
    width: 60%;
    height: 60%;
}

#row1 h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

#col2 {
    margin-top: 90px;
}

#con2 {
    margin-top: 55px;
    box-shadow: 2px 2px 2px 2px #dee2e6;
    padding: 10px 0;
}

#row2 a {
    text-decoration: none;
    color: #3e3e3e;
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#col2 p {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    letter-spacing: 0.1px;
}

#col2 #p1 {
    margin-top: 50px;
}

.parameter {
    background: url(https://template.hasthemes.com/moto/moto/img/bg/2.webp);
    width: 100%;
    padding: 110px 0;
    text-align: center;
    color: #FAF9FF;
}

#row3 h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

#row3 p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.app {
    text-align: center;
    margin: 0 auto;
}

#row4 {
    padding: 130px 0;
}

#con3 {
    width: 60%;
}

#col-12-1 {
    margin: 0 auto;
    width: 48%;
}

#col-12-1 h2 {
    margin-bottom: 24px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

.carousel-item img {
    height: 700px;
}

#col-12-1 p {
    margin-bottom: 30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

#col-12-2 {
    width: 100%;
}

.download {
    text-align: center;
    background-image: url(https://template.hasthemes.com/moto/moto/img/bg/3.webp);
}

#row5 {
    padding: 130px 0;
}

#col-12-4 {
    margin: 0 auto;
    width: 60%;
    margin-right: 200px;
}

#col-12-4 a {
    text-decoration: none;
}

#col-12-4 a i {
    color: #ff5f6d;
}

#col-12-4 .col-3 {}

#col-12-4 .col-3 a:hover {
    background-color: #ff5f6d;
    color: white;
}

#col-12-4 .col-3 a:hover i {
    color: white;
}

#col-12-4 .col-3 a {
    color: #3e3e3e;
    background-color: white;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s background-color;
    padding: 15px 35px;
}

#col-12-4 .col-4 a {
    color: white;
    background-color: #ff5f6d;
    border-radius: 10px;
    font-weight: 500;
    padding: 15px 50px;
}

#col-12-4 .col-4 i {
    color: white;
}

#col-12-3 {
    margin: 0 auto;
    width: 48%;
    padding-bottom: 45px;
}

#col-12-3 h2 {
    margin-bottom: 24px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-weight: 500;
}

#col-12-3 p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 15px;
}

.pricing {
    text-align: center;
}

#con4 {
    margin: 0 auto;
    width: 60%;
}

#row6 {
    padding: 130px 0;
}

#col-12-7 {
    width: 48%;
    margin: 0 auto;
    padding-bottom: 55PX;
}

#col-12-7 h2 {
    margin-bottom: 24px;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-weight: 500;
}

#col-12-7 p {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}

.col-sm {}

.col-sm .basic {
    box-shadow: 2px 2px 2px 2px #dee2e6;
    border-radius: 10px;
    padding-top: 65px;
}

.basic p {
    color: #3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 8px;
}

.basic span {
    color: #3e3e3e;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    padding: 20px 0;
}

.basic div {
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
    line-height: 38px;
}

#basic1 {
    background-color: #ff5f6d;
}

.basic {
    transition: 0.3s background-color;
}

.basic:hover {
    background-color: #ff5f6d;
}

.basic:hover p {
    color: #fff;
}

.basic:hover span {
    color: #fff;
}

.basic:hover div {
    color: #fff;
}

#basic1 a {
    color: #fff;
}

.basic:hover a {
    width: 100%;
    background-color: #ff5f6d;
    color: #ced4da;
}

.col-sm li {
    list-style: none;
}

.col-sm a {
    text-decoration: none;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 10%);
    font-size: 15px;
    display: inline-block;
    font-weight: 600;
    padding: 20px 40px;
    transition: all 0.4s ease 0s;
    color: #3e3e3e;
}

.col-sm #a1 {
    width: 100%;
    background-color: #ff5f6d;
}

.submit {
    background-color: #FAF9FF;
}

.submit #con5 {
    padding-top: 130px;
    width: 60%;
}

.col-7 {
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 10%);
    background-color: #fff;
    text-align: center;
}

#mb-3 {
    padding: 100px 50px;
}

.col-7 button {
    background-color: #ff5f6d;
    padding: 8px 46px;
    border: 1px #ff5f6d;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.end {
    background: url(https://template.hasthemes.com/moto/moto/img/bg/5.webp);
}

#con6 {
    padding: 80px 0;
    width: 60%;
}

.end .col-4 {
    padding-bottom: 15px;
    text-align: center;
    color: #fff;
}

.end .col-4 i {
    font-size: 30px;
}

#col-12-5 p {
    text-align: center;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.icon {
    padding: 70px 0 35px 0;
    text-align: center;
}

.icon i {
    background-color: #fff;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    transition: 0.3s background-color boder-color;
    margin: 0 10px;
}

.icon i:hover {
    background-color: #ff5f6d;
    color: #fff;
    border-color: #ff5f6d;
}

#col-12-5 p a {
    font-weight: 750;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 575px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .anh img {
        width: 95%;
    }
    .moto-all h1 {
        font-size: 40px;
    }
    .moto-all {
        top: 20%;
    }
    .moto-all p {
        padding-right: 0%;
    }
    .easy .container {
        width: 100%;
    }
    .easy .container .col-4 {
        width: 50%;
    }
    .best .container .row .col-4 {
        width: 50%;
    }
    .best .container .row .col-4 p {
        padding: 0 0;
    }
    .best .best1 {
        width: 70%;
    }
    .about {
        width: 100%;
    }
    #best {
        width: 100%;
    }
    .best .container .row .col p {
        padding: 0 0;
    }
    .how #con1 {
        width: 100%;
    }
    #col-12-4 {
        width: 85%;
        margin-right: 10px;
    }
    #con4 {
        width: 100%;
    }
    #col-12-1 {
        width: 70%;
    }
    #col1 {
        width: 70%;
        margin: 0 auto;
    }
    .how .col-6 {
        width: 100%;
    }
    #con3 {
        width: 100%;
    }
    .carousel-item img {
        height: 500px;
    }
    .submit #con5 {
        width: 100%;
    }
    #col-12-3 p {
        font-size: 13px;
    }
    #col-12-3 h2 {
        font-size: 37px
    }
    .submit #con5 {
        width: 100%;
    }
    #con6 {
        width: 100%;
        padding: 80px 0 0 0;
    }
    #col-12-7 {
        width: 60%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .moto-all p {
        padding-right: 0%;
        font-size: 16px;
    }
    .moto-all h1 {
        font-size: 42px;
    }
    .easy .container {
        width: 100%;
    }
    .about {
        width: 100%;
    }
    #best {
        width: 100%;
    }
    .best .container .row .col p {
        padding: 0 0;
    }
    .how #con1 {
        width: 100%;
    }
    #col-12-4 {
        width: 85%;
        margin-right: 10px;
    }
    #con4 {
        width: 100%;
    }
    #col-12-1 {
        width: 100%;
    }
    .carousel-item img {
        height: 500px;
    }
    .submit #con5 {
        width: 100%;
    }
    #col-12-3 p {
        font-size: 13px;
    }
    #col-12-3 h2 {
        font-size: 37px
    }
    .submit #con5 {
        width: 100%;
    }
    #con6 {
        width: 100%;
        padding: 80px 0 0 0;
    }
    #col-12-7 {
        width: 60%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .moto-all {
        right: 7%;
    }
    .easy .container {
        width: 100%;
    }
    .about {
        width: 100%;
    }
    #best {
        width: 100%;
    }
    .best .container .row .col p {
        padding: 0 0;
    }
    .how #con1 {
        width: 100%;
    }
    #col-12-4 {
        width: 80%;
        margin-right: 30px;
    }
    #con4 {
        width: 100%;
    }
    #con3 {
        width: 100%;
    }
    #col-12-1 {
        width: 60%;
    }
    .carousel-item img {
        height: 500px;
    }
    .submit #con5 {
        width: 100%;
    }
    #con6 {
        width: 100%;
        padding: 80px 0 0 0;
    }
}

@media only screen and (min-width: 1399px) {}